* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
    text-decoration: none;
}

body{ 
    height: 100vh;
    width: 100%;
    color: #434343;
    
    background-image: url("https://raw.githubusercontent.com/matheusfernandes1999/millecouri/main/assets/background/varios-cuori-blur.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.menu{
    padding: 3%;
    display: flex;
    flex-direction: row;        
    justify-content: center;
    align-items: center;
}

.menusuperior {
    display: flex;
    gap: 45px;
    font-size: 110%;
    align-items: center;
    word-break: keep-all;
    width: max-content;
}

.menusuperiorpalavra{
    color: #ffffff;
    font-weight: 450;
    transition: .4s ease;
}

.menusuperiorpalavra:hover{
    color: #9c3762;
    font-weight: 550;
    transform: 4;
}

        /*MENU MOBILE*/

@media screen and (max-width: 480px){
    .menu{
        padding: 5%;
        display: flex;
        flex-direction: row;        
        justify-content: center;
        align-items: center;
    }
    
    .menusuperior {
        display: flex;
        gap: 15px;
        font-size: 80%;
        align-items: center;
        word-break: keep-all;
        max-width: max-content;
    }
    
    .menusuperiorpalavra{
        color: rgb(252, 252, 252);
        font-weight: 450;
        transition: .4s ease;
    }
    
    .menusuperiorpalavra:hover{
        color: #9c3762;
        font-weight: 550;
        transform: 4;
    }
}

        /*LANDING PAGE*/

.landing{
    display: flex;
	flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.paginainicial{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.logo{
    max-width: 800px;
}

.logopequena{
    position: relative;
    top: 20vh;
    width: 30px;
    transition: .4s ease;
}

.logopequena:hover{
    width: 35px;
    height: 35px;
    transform: 4; 
}

        /*LANDING PAGE MOBILE*/

@media screen and (max-width: 720px){

    .landing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
    
    .paginainicial{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .logo{
        max-width: 800px;
        width: 80%;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .logopequena{
        position: relative;
        top: 20vh;
        width: 30px;
        transition: .4s ease;
    }
}

        /*CATALOGO*/

main.catalogo {
    margin: 0;
    width: 100%;
    padding: 32px;
}

div.container div.titulocatalogo h1{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 3%;
    font-size: 30px;
    color: #434343;
}

.cartoes {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    max-height: fit-content;
    gap: 40px;
}

.cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1rem 2.3rem;
    border-radius: 64px;
}

.imagem img {
    width: 200px;
    margin: 16px 0;
}

main.catalogo div.cartao h1 {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    font-size: 100%;
    margin: 16px 0;
}

main.catalogo span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
    min-height: 80px;
}

        /*BOTOES*/

div.cartoes div.cartao button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: white;
    margin-bottom: 16px 0;
}

/*STYLE DOS BOTOES*/
div.cartoes div.cartao.um button {
    background: linear-gradient(to right, #9c3762, #db85ab);
    transition: .4s ease;
}

div.cartoes div.cartao.dois button {
    background: linear-gradient(to right, #3E8AFF, #BBDEFF);
    transition: .4s ease;
}

div.cartoes div.cartao.tres button {
    background: linear-gradient(to right, #fbc4b2, #cfa394);
    transition: .4s ease;
}

div.cartoes div.cartao.quatro button {
    background: linear-gradient(to right, #eb8607, #db8a26);
    transition: .4s ease;
}

/*BOTOES HOOVER*/
div.cartoes div.cartao.um button:hover {
    background: linear-gradient(to right, #79274a, #e094b7);
    transform: 2;
}

div.cartoes div.cartao.dois button:hover {
    background: linear-gradient(to right, #3170ce, #8daecc);
    transform: 2;
}

div.cartoes div.cartao.tres button:hover {
    background: linear-gradient(to right, #dbac9c, #c5a49a);
    transform: 2;
}

div.cartoes div.cartao.quatro button:hover {
    background: linear-gradient(to right, #c57008, #ec952b);
    transform: 2;
}


/*SOMBRA DOS CARDS*/
div.cartoes div.cartao.um{
    box-shadow: 20px 20px 50px -30px #86244f;
    transition: .4s ease;
}

div.cartoes div.cartao.dois{
    box-shadow: 20px 20px 50px -30px #1978dd;
    transition: .4s ease;
}

div.cartoes div.cartao.tres{
    box-shadow: 20px 20px 50px -30px #cf9582;
    transition: .4s ease;
}

div.cartoes div.cartao.quatro{
    box-shadow: 20px 20px 50px -30px #eb8607;
    transition: .4s ease;  
}


/*CARDS HOOVER*/
div.cartoes div.cartao.um:hover {
    box-shadow: 40px 40px 60px -30px #9c3762;
    transform: 2;
}
div.cartoes div.cartao.dois:hover {
    box-shadow: 40px 40px 60px -30px #1978dd;
    transform: 2;
}
div.cartoes div.cartao.tres:hover {
    box-shadow: 40px 40px 60px -30px #eca78f;
    transform: 2;
}
div.cartoes div.cartao.quatro:hover {
    box-shadow: 40px 40px 60px -30px #eb8607;
    transform: 2;
}

        /*CATALOGO PARA MOBILE*/
    @media screen and (max-width: 720px){

        div.container {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            text-align: center;
        }

        div.container div.catalogo.titulocatalogo h1{
            display: flex;
            justify-content: center;
            vertical-align: middle;
            padding: 3%;
            font-size: 30px;
            text-transform: uppercase;
            min-width: max-content;
            flex-wrap: nowrap;
            color: #434343;
        }

        .imagem img {
            width: 200px;
            margin: 16px 0;
            max-width: 100%;
        }

        div.container div.titulocatalogo h1{
            padding: 3%;
            font-size: 25px;
            display: flex;
            flex-direction: row;
            width: fit-content;
            align-items: center;
            text-align: center;
        }


        main.catalogo div.cartoes   {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

}

/*CONTATO*/
main.contato {
    margin: 0;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.contato section.titulocontato h1{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 3%;
    font-size: 30px;
    width: max-content;
    color: #434343;
}

.cartaocontato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1rem 2.3rem;
    border-radius: 64px;
    max-width: fit-content;
    max-height: fit-content;
}

.cartaocontato{
    box-shadow: 20px 20px 50px -30px #f09433;
    transition: .4s ease;
}

.cartaocontato:hover{
    box-shadow: 40px 40px 60px -30px #e6683c;
    transition: 2;
}

.imagemcontato img {
    width: 200px;
    margin: 16px 0;
}

main.contato section.cartaocontato h3 {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    font-size: 100%;
    margin: 16px 0;
}

main.contato section.cartaocontato span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
    min-height: 80px;
}

        /*BOTOES*/

.botaocontato{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/*STYLE DOS BOTOES*/
.instagram{
    padding: 0.5rem 1rem;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 350;
    margin-bottom: 16px 0;
    min-width: fit-content;
    max-height: fit-content;
    color:#FFF;
    background: #f09433; 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); 
    transition: .4s ease;
}
.whatsapp{
    padding: 0.5rem 1rem;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 350;
    margin-bottom: 16px 0;
    min-width: fit-content;
    max-height: fit-content;
    background-color:#25d366;
	color:#FFF;
    transition: .4s ease;
}

.whatsapp:hover{
    background-color:#0c8639;
	color:#FFF;
    font-weight: 450;
}

.instagram:hover{
    background: linear-gradient(45deg, #b96812 0%, #a13711 25%, #8f0d21 50%, #860d3e 75%, #81125e 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); 

    color: #FFF;
    font-weight: 450;
 
}


        /*CONTATO PARA MOBILE*/
@media screen and (max-width: 720px){
                
main.contato {
    margin: 0;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.contato section.titulocontato h1{
    padding: 3%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    text-align: center;
    color: #434343;
}

.cartaocontato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1rem 2.3rem;
    border-radius: 64px;
}

.imagemcontato img {
    width: 200px;
    margin: 16px 0;
    max-width: 80%;
}

main.contato section.cartaocontato h3 {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    font-size: 80%;
    margin: 16px 0;
}

main.contato section.cartaocontato span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}



        /*BOTOES*/

        .botaocontato{
            padding: 0.5rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            align-items: center;
        }
        
        /*STYLE DOS BOTOES*/
        .instagram{
            padding: 0.5rem 1rem;
            border-radius: 32px;
            border: 0;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 80%;
            font-weight: 350;
            margin-bottom: 16px 0;
            min-width: fit-content;
            max-height: fit-content;
            color:#FFF;
            background: #f09433; 
            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); 
            transition: .4s ease;
            width: 70%;
            min-width: fit-content;
        }

        .whatsapp{
            padding: 0.5rem 1rem;
            border-radius: 32px;
            border: 0;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 80%;
            font-weight: 350;
            margin-bottom: 16px 0;
            min-width: fit-content;
            max-height: fit-content;
            background-color:#25d366;
            color:#FFF;
            transition: .4s ease;
            width: 70%;
            min-width: fit-content;
        }
}


/*QUEM SOMOS*/
main.sobrenos {
    margin: 0;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagemcontato img {
    width: 200px;
    margin: 16px 0;
    max-width: 100%;
}

main.sobrenos h1{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 3%;
    font-size: 30px;
    width: max-content;
    color: #434343;
}

.sobre {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1rem 2.3rem;
    border-radius: 64px;
    max-width: fit-content;
    max-height: fit-content;
}

.sobre{
    box-shadow: 20px 20px 50px -30px #a13f06;
    transition: .4s ease;
}

.sobre:hover{
    box-shadow: 40px 40px 60px -30px #a13f06;
    transition: 2;
}

main.sobrenos section.sobre span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    min-height: 80px;
}

/*SOBRE NOS MOBILE*/
@media screen and (max-width: 480px){

    .sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        padding: 1rem 2.3rem;
        border-radius: 64px;
        max-width: fit-content;
        max-height: fit-content;
    }

    .imagemsobre img {
        width: 200px;
        margin: 16px 0;
        max-width: 100%;
    }

    main.sobrenos h1{
        padding: 3%;
        font-size: 25px;
        display: flex;
        flex-direction: row;
        width: fit-content;
        align-items: center;
        text-align: center;
        color: #434343;
    }
}


/*RODAPE*/
main.rodape {
    color: #434343;
    margin: 0;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
